body {
    font-size: 20px;
}
#title{
    font-size: 4.5rem;
    text-align: center;
    color: orange;
    padding: 10%;
}
header{
    background-image: url(./Img/dumbbell-1966247_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    background-color: black;
    opacity: 0.5;
    position: sticky;
}
a {
    color: white;
    text-decoration: none;
    
}
a:hover {
    color: black;
}

ol {
    display: flex;
    list-style: none;
}

li {
    float: left;
    text-align: center;
    width: calc(100%/4);
    padding: 2%;
}
li:hover{
    background-color: orange;
}
.flag{
    width: 3%;
    padding: 10px;
}
