@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
body{
    height: 100vh;
    background-image: url(./Img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header img{
    width: 10vh;
}
header a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 2% 0;
    font-weight: 700;
}
header li{
    list-style: none;
    display: flex;
    align-items: center;
    
}
header a:hover{
    color: green;
}
header ol{
    display: flex;
    justify-content: space-around;
    padding: 0;
    background-color: orange;
}
li p{
    font-size: 1rem;
}
header div{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.logo {
    width: 8%;
    padding: 1%;
}
.categorie{
    width: 85%;
    text-align: center;
}
.categorie img{
    width: 50%;
}
span{
    color: white;
    font-size: 1rem;
}
.contact{
    display: flex;
    background-color: black;
    justify-content: center;
}
.contact div{
    width: 50%;
    text-align: center;
}
.title{
    display: flex;
}
.altere{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.altere div{
    position: relative;
}

.altere p{
    position: absolute;
    top: 30%;
    font-family: 'Black Ops One', system-ui;
    color: #27df36;
    font-size: 150px;
    rotate: -18deg;
    filter: drop-shadow(2px 4px 32px orange);
}
.menu2{
    background-color: orange;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 15%;
}
.menu2 img{
    width: 5vh;
}
.menu2 p{
    font-size: 1rem;
}
.menu2 a{
    text-decoration: none;
    color: black;
}
footer nav{
    display: none;
}
hr{
    width: 50%;
    border: 1px solid black;
    opacity: 0.3;
}
@media screen and (min-width:368px) and (max-width: 1023px) {
    .title {
        display: none;
    }
    footer nav{
        display: block;
    }
    footer nav img{
        width: 10%;
    }
    header nav{
        display: none;
    }
    header img{
        width: 4vh;
    }
    .contact{
        display: block;
        background-color: black;
        justify-content: center;
    }
    .contact div{
        display: flex;
        width: 100%;
        align-items: center;
    }
}